language: node_js
matrix:
  fast_finish: true
node_js:
- '16.18.1'
cache:
  yarn: true
  directories:
  - node_modules
script:
- scripts/travis.sh
before_deploy:
- git config --global user.email "npm@cozycloud.cc"
- git config --global user.name "Cozy Bot"
deploy:
- provider: script
  skip-cleanup: true
  script: git checkout master && git remote set-url origin https://cozy-bot:$GH_TOKEN@github.com/konnectors/libs.git
    && echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc && yarn lerna
    publish --yes -m "[skip ci] Publish"
  on:
    branch: master
    repo: konnectors/libs
env:
  global:
    #  travis encrypt NPM_TOKEN=<token>
  - secure: O4Kj+o2eO/z03jFSNV6LEbz4tK/X3Xu2ZA+OhK7XDBJ+d5G8DiULeVPN41cI5ERuAtyhGZSUWxyDDH1Q01F0dou6KIY4iEaGaqlaCD8dD7jumnM2hBkycjuETRhNV7CfLXpJYwI4urOwcGV9wAb5fC7n2cb0kwYsdnvA3/VbY018enVRqZfVmvTsxIPyUsY8nfyP87p7n4NIRCSDVEP38M51UsDkE7eA71H5JperTpkmCXILEwJj8B+Z0JAHZEkqdkKjIoHDUk2NW5IHUEMB2RdXdjMjVnnoLdkGfOQaM0feujWbFN23Xv5w5AnprJXp2ZEWYzzCzDHt21UmcctGkCrIl7Bm5cSMJtRD8SBfYAULqVjJxkpiVsi2t6ckKhWHFPXRIx6TkHoPEfsOxHoh/YWRvmJWjjxeDn3b9y4QuzsL8scY8klqS0eHZMI+q5Pic2EC1W6QQhqBdRgsWbpnsEYbhaww2diNN9sJtDOM0guitHxcYvIPCoGok5TrwyoZBvhhk/LQuvSlt6NxfcIQExlAvoGJmX7gc6aR0r4eDuuk/sc0QLU+T1CAbWmMWQCILB2lDWJNvthykxF9w/n4xJ6XWcLeExvZRrXmWF0pz54P5IdVOfTKEdGhoIDHImgMR98CKVlmPQ+cjKWMM9HqA7BlbMZJM4m5W6KIX91nnT4=
    #  travis encrypt GH_TOKEN=<token>
  - secure: jyRk0FX+Fz3/pU6nZiaIhajB4uywru/CMCwlB+wyu8aE883CxARIK72/QK5fYOooWvmDuUOvEvBL/3QWQD1FwUde93yfMDoO5jPZ/TkslJ3mqowo7J6ub+KxtpBQdQcQNpUj1zjze4AariDgoAMdbGGilOqYnzMI5CDyR1zFol3MgRA7auUCsSBVRog3OuUpQEuApEQuDzqwiHWuDnPxHLwV/C8K7HKPe9Khkhkem3MvmP3zPZXaDYwDel7cuppib2ru4BGh7aVltx0AGyls6YHSs9HQQOopQAoIs9OjPs1LnUOwEfCJwM49jwfV9bn8SR8H1p/+mqu/y8qYqivVyIDAIIPSXYNNbJ+podYfeFSFqYuaLh4ZV2Cmbf77jWJ10nquBtN55en9syfVWIHhwtqjhXKX2eB52IFqrTDrHYHvox5xfJ2xaf+6C/JO21DDQu5YGvsbUP+qgIFy8Hrd7VDet0CqJ5baytgyPmbXCkrZz/FclhmstX38BOWY5mhdXl4u3uoFecCJ3YnkLEnAM4xJxtpa2jLEkfN+qatURGpmXgEGlI+peBVMw1NkAfxARoPtfNw8wNDWJ1WQ5ue8FdRzW35dLws6T5qdyNBcjoX0ubC2XQRVe+x52pd4h2xSc4/qs0EcGx3m/GsHvg7fOt8STX/EXuPVGNoOGJuLYxs=
