language: node_js
matrix:
  fast_finish: true
node_js:
- '16'
cache:
  yarn: true
  directories:
  - node_modules
script:
- scripts/travis.sh
before_deploy:
- git config --global user.email "npm@cozycloud.cc"
- git config --global user.name "Cozy Bot"
deploy:
- provider: script
  skip-cleanup: true
  script: git checkout master && git remote set-url origin https://cozy-bot:$GH_TOKEN@github.com/konnectors/libs.git
    && echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc && yarn lerna
    publish --yes -m "[skip ci] Publish"
  on:
    branch: master
    repo: konnectors/libs
env:
  global:
    #  travis encrypt NPM_TOKEN=<token>
  - secure: O4Kj+o2eO/z03jFSNV6LEbz4tK/X3Xu2ZA+OhK7XDBJ+d5G8DiULeVPN41cI5ERuAtyhGZSUWxyDDH1Q01F0dou6KIY4iEaGaqlaCD8dD7jumnM2hBkycjuETRhNV7CfLXpJYwI4urOwcGV9wAb5fC7n2cb0kwYsdnvA3/VbY018enVRqZfVmvTsxIPyUsY8nfyP87p7n4NIRCSDVEP38M51UsDkE7eA71H5JperTpkmCXILEwJj8B+Z0JAHZEkqdkKjIoHDUk2NW5IHUEMB2RdXdjMjVnnoLdkGfOQaM0feujWbFN23Xv5w5AnprJXp2ZEWYzzCzDHt21UmcctGkCrIl7Bm5cSMJtRD8SBfYAULqVjJxkpiVsi2t6ckKhWHFPXRIx6TkHoPEfsOxHoh/YWRvmJWjjxeDn3b9y4QuzsL8scY8klqS0eHZMI+q5Pic2EC1W6QQhqBdRgsWbpnsEYbhaww2diNN9sJtDOM0guitHxcYvIPCoGok5TrwyoZBvhhk/LQuvSlt6NxfcIQExlAvoGJmX7gc6aR0r4eDuuk/sc0QLU+T1CAbWmMWQCILB2lDWJNvthykxF9w/n4xJ6XWcLeExvZRrXmWF0pz54P5IdVOfTKEdGhoIDHImgMR98CKVlmPQ+cjKWMM9HqA7BlbMZJM4m5W6KIX91nnT4=
    #  travis encrypt GH_TOKEN=<token>
  - secure: INnsvuBz3ou5uwcSxQoVUTqfipdpTtxrN5I5/i/yZ0PGiaow48eeWGRh2eBWwynGbrzdHVV9UR2uj5dyOWC0jDROejzXwiOc6AkaLZJKsh3aIEhCew0B1auPFYR8xZt3ADMDMaK6HoG/OBjRHdtzTbeepblgbDsF+MpgtnDSJVwPcNWRKBq1HDVxHTXEqqy+Eu2XVXOPQqEA9QBC2Bi27w3E2kR8Qae1wOJE+62pz2ur3s+E4+2ocrE+AWrWRdrdn2vJmol2qrYtl9HLTBD31NePfdfTM3PbsEmfFXRCK8YtX6n8hiP6AZjVeLd28xix7/X4qaQyrcCgsjiy4n6I99xoCvndHzJv6HdIdC4g8pk2/dSmEQrRyL623a6ZLPKDc2m6o90DhxOv+mNPYXY5U6tbm1Igq8qQTevCgbxM65QkQpPHAySLLhDLdjbHKhKcRxt4MZ7jaV7MBbkBuVwx4kNOX2JAxju8NStBsVgGGz7fiqMA0tH0XFfhGqISDvnz42sjrxx0rDnns1q1LeGU+0MFbbQX97cgyr1Bt4Don9iYqTb/vQD03Wn0SWX64aMERQbrKsUEocwFDxid8CKkXrKa61uhxrOO1KGoEOuEAI4PJLFQJNQW6tbEKqMf9vJwQ/GOOsA5/14fq5yofrTePO7Oxl3h/8Ssv7QMR6PMn7Y=
